<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jiggie.android"
    android:versionCode="107"
    android:versionName="1.0.7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.android.jiggie.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.android.jiggie.permission.C2D_MESSAGE" />

    <application
        android:name="com.jiggie.android.App"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="1714fcc893d2312cb2b248ed57743517e718c399" />-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="00fd18220f391f657cb53b7830f04e5efd103e49" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:value="@integer/google_play_services_version"
            android:name="com.google.android.gms.version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name="com.jiggie.android.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:name="com.facebook.FacebookActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name" />

        <activity android:name="com.jiggie.android.activity.TestActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name"/>
        <activity android:name="com.jiggie.android.activity.setup.SetupTagsActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name"/>
        <activity android:name="com.jiggie.android.activity.setup.SetupNotificationActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name" />
        <activity android:name="com.jiggie.android.activity.setup.SetupLocationActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name" />

        <activity android:name="com.jiggie.android.activity.event.EventDetailActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="app.appsflyer.com"
                    android:pathPrefix="/1630402100" />
                <!--<data android:scheme="https"
                    android:host="app.appsflyer.com"
                    android:pathPrefix="/1630402100" />-->

                <!--http://app.appsflyer.com/1630402100?pid=Event_Invite&af_dp=jiggie%3A%2F%2F&af_sub1=" + item.from_fb_id + "&af_sub2=" + item.event_id + "&af_force_dp=true
            --></intent-filter>
        </activity>

        <activity android:name="com.jiggie.android.activity.event.EventGuestActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/guest_interested_title" />
        <activity android:name="com.jiggie.android.activity.profile.ProfileDetailActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name"/>
        <activity android:name="com.jiggie.android.activity.profile.ProfileSettingActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/settings" />
        <activity android:name="com.jiggie.android.activity.profile.ProfileEditActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/about_you" />
        <activity android:name="com.jiggie.android.activity.profile.PrivacyPolicyActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/privacy_policy" />
        <activity android:name="com.jiggie.android.activity.profile.TermOfUseActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/term_of_use" />
        <activity android:name="com.jiggie.android.activity.chat.ChatActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait" android:label="@string/app_name"/>

        <!--BroadcastReceivers-->
        <receiver
            android:permission="com.google.android.c2dm.permission.SEND"
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.android.jiggie" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jiggie.android.component.gcm.GCMBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jiggie.android.component.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!--Services-->
        <service android:name="com.jiggie.android.component.service.FacebookImageSyncService" />
        <service
            android:exported="true"
            android:name="com.jiggie.android.component.service.ChatSendService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:exported="true"
            android:name="com.jiggie.android.component.gcm.GCMBootScheduler"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service android:name="com.jiggie.android.component.gcm.GCMRegistrationService"/>
        <service android:name="com.jiggie.android.component.gcm.GCMMessageHandler"
                 android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.jiggie.android.component.gcm.GCMInstanceIDListener"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
    </application>
</manifest>
